<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.711485749722-71b8aajrgv0fj0l44vevpvd4ds1ah71a</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>《地球新主》需要获取您的位置来显示您在末日世界中的坐标，帮助您探索和圈定领地。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>《地球新主》需要始终访问您的位置，以便在您接近废墟资源点时及时通知您进行搜刮。</string>
</dict>
</plist>
